/*==========================*/
/*====== Basic styles ======*/
/*==========================*/

body {
	min-height: 100vh;
	box-sizing: border-box;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
}

.container {
	height: 100%;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-direction: column;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.main {
	flex-grow: 1;
}

/*==========================*/
/*======== HEADER ==========*/
/*==========================*/

.header {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: baseline;
	align-items: baseline;
	flex-wrap: wrap;
	margin-top: 30px;
}

.header__title {
	margin-right: 5px;
}

.header__rules {
	padding: 5px;
	margin-right: 10px;
	/* width: 20px;
	height: 20px; */
	top: -15px;
	font-size: 12px;
	position: relative;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

/*==========================*/
/*====== MAIN CONTENT ======*/
/*==========================*/

.content {
	position: relative;
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex: 1 1 300px;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	justify-content: flex-start;
	-ms-align-items: flex-start;
	align-items: center;
}

.content__form {
	width: 100%;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-direction: column;
	-moz-flex-direction: column;
	-ms-flex-direction: column;
	-o-flex-direction: column;
	flex-direction: column;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
}

.content__input {
	position: relative;
	width: 90%;
	max-width: 500px;
	box-sizing: border-box;
	margin-bottom: 10px;
}

.content__check, .content__restart, .content__hint {
	width: 200px;
	margin-top: 10px;
}

.content__story {
	margin: 40px 0;
}

.content__story-header {
	text-align: center;
}

/*==========================*/
/*========= FOOTER =========*/
/*==========================*/

.footer {
	background-color: #eee;
	height: 50px;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: center;
}

.footer__content {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: center;
	-ms-align-items: center;
	align-items: baseline;
	flex-wrap: wrap;
	align-items: center;
	line-height: 1.2;
}

.footer__content span {
	font-size: 10px;
	position: relative;
	left: 15px;
}
/*===========================*/
/*==== OTHER SIDE STYLES ====*/
/*===========================*/

.alert {
	margin-top: 10px;
	transition: .3s ease;
}

/* ===================== */
/* === MEDIA QUERIES === */
/* ===================== */

@media (max-width: 769px) {
	.content__check, 
	.content__hint, 
	.content__restart,
	.content__input,
	.alert, 
	.content__story,
	.content__story-header {
		font-size: 24px;
	}

	.header__rules {
		font-size: 16px;
	}
}